.footer {
	margin-top: auto;
	display: flex;
	flex-direction: column;
	background: $footer-background;
	color: $footer-color;
	font-size: 0.8rem;

	h6 {
		font-size: 1rem;
	}

	.footer_section {
		margin: 0 $margin * 3;
		text-align: center;

		@include from(laptop) {
			text-align: left;
		}
	}

	.align-center {
		align-self: center;
	}

	.footer_section_title {
		color: $footer-title;
	}

	.footer_logo {
		width: 120px;
		margin: $margin;
	}

	.footer_icon {
		display: flex;
		align-items: center;
		justify-content: center;

		&::before {
			width: 20px;
		}

		@include from(laptop) {
			justify-content: flex-start;
		}
	}

	.footer_content {
		padding: $padding $padding;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@include from(laptop) {
			flex-direction: row;
			align-items: flex-start;
		}
	}

	.footer_subcontent {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		@include from(pc) {
			flex-direction: row;
			text-align: left;
		}
	}

	.copyright_section {
		display: flex;
		justify-content: space-between;
		font-size: 0.7rem;
		padding: $padding;
		background: $footer-copyright;
	}
}

.contact-form {

	.contact-form_message {
		width: 100%;
		padding: $padding;
		border-radius: $border-radius;
		resize: none;
		border: 0;
	}
	.contact-form_section {
		display: flex;
		align-items: center;
		margin-top: $margin;
	}
	.contact-form_email {
		flex-grow: 1;
		padding: $padding;
		border-radius: $border-radius;
		border: 0;
	}

	.contact-form_submit {
		margin-left: $margin;
	}
}
