.footer {
	margin-top: auto;
	display: flex;
	flex-direction: column;
	background: $footer-background;
	color: $footer-color;
	font-size: 0.8rem;

	h6 {
		font-size: 1rem;
	}

	.footer_section {
		margin: 0 $margin * 3;
		text-align: center;

		@include from(laptop) {
			text-align: left;
		}
	}

	.align-center {
		align-self: center;
	}

	.footer_section_title {
		color: $footer-title;
	}

	.footer_logo {
		width: 120px;
		margin: $margin;
	}

	.footer_icon {
		display: flex;
		align-items: center;
		justify-content: center;

		&::before {
			width: 20px;
		}

		@include from(laptop) {
			justify-content: flex-start;
		}
	}

	.footer_content {
		padding: $padding $padding;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@include from(laptop) {
			flex-direction: row;
			align-items: flex-start;
		}
	}

	.footer_subcontent {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		@include from(pc) {
			flex-direction: row;
			text-align: left;
		}
	}

	.copyright_section {
		display: flex;
		justify-content: space-between;
		font-size: 0.7rem;
		padding: $padding;
		background: $footer-copyright;
	}
}

.footer-contact {
	position: relative;
	display: flex;
	flex-direction: column;
}

.contact-form {
	width: 350px;
	position: absolute;
	bottom: calc(100% + 60px);
	right: 0;
	transform: translate(25%);
	background: $white;
	box-shadow: 0 5px 10px -2px $gray-8;
	padding: $padding * 2 $padding;
	border-radius: 20px;
	display: none;

	@include from(laptop) {
		transform: none;
	}

	&::before {
		$size: 30px;
		content: '';
		border-top: $size solid $white;
		border-left: $size * 0.75 solid transparent;
		border-right: $size * 0.75 solid transparent;

		position: absolute;
		top: 100%;
		left: calc(50% - #{$size * 0.75});
	}
}
