.acm-navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid $navbar-border;
	position: sticky;
	width: 100%;
	top: 0;
	left: 0;
	background: $navbar-background;
	z-index: z-index(navbar);

	@include from(950px) {
		justify-content: flex-start;
	}

	.acm-navbar_logo {
		width: 35px;
		margin: $margin;
	}

	.acm-navbar_trigger {
		margin: $margin;
		font-size: 1.4rem;

		@include from(950px) {
			display: none;
		}
	}

	.acm-navbar_menu {
		flex-grow: 1;
		display: none;
		list-style: none;
		padding: 0;
		margin: 0;
		position: absolute;
		top: 100%;
		width: 100%;
		background: $navbar-background;
		border-top: 1px solid $navbar-border;
		border-bottom: 1px solid $navbar-border;

		@include from(950px) {
			position: static;
			display: flex !important;
			border-top: 0;
			border-bottom: 0;
		}
	}

	.acm-navbar_menuitem {
		text-align: center;
		transition: all 0.3s ease;
		cursor: pointer;

		&:last-child {
			margin-left: auto;
		}

		&:hover, &.acm-navbar__current {
			background: $navbar-item-hover;
		}
	}

	.acm-navbar_link {
		display: block;
		padding: $padding * 2 $padding * 3;
	}

}
