@charset "UTF-8";

// Config
@import "config/variables";
@import "config/colors";
@import "config/functions";
@import "config/mixins";
@import "config/animations";

// Themes
@import "themes/main";

// Fonts
@import "fonts/fontawesome";

// Base
@import "base/normalize";
@import "base/base";

// Layout
@import "layout/layout";

// Components
@import "components/buttons";
@import "components/cards";
@import "components/covers";
@import "components/forms";
@import "components/grids";
@import "components/modals";
@import "components/sections";
@import "components/slider";
@import "components/titles";

// Modules
@import "modules/footer";
@import "modules/maincontent";
@import "modules/navbar";

// Pages
@import "pages/contests";
@import "pages/index";
@import "pages/staff";

// Frameworks
@import "frameworks/owl_carousel/owl.carousel";
@import "frameworks/owl_carousel/owl.theme.default";
