footer.footer
	.footer_content
		section.footer_section.footer_subcontent.align-center
			img(src="{% static 'images/javeriana_icon.png' %}").footer_logo
			section
				p Pontificia Universidad Javeriana
				p Bogotá D.C - Colombia
				p Carrera 7 No. 40 - 62
				p (57 1) 3208320
		section.footer_section
			h6.footer_section_title Redes sociales
			p: a(href="https://www.facebook.com/acmjaveriana/" target="_blank")
				span.acm.acm-facebook.footer_icon
				span ACMJaveriana
			p: a(href="https://twitter.com/ACMJaveriana" target="_blank")
				span.acm.acm-twitter.footer_icon
				span ACMJaveriana
			p: a(href="https://www.youtube.com/channel/UC3PymX73H7qF6-VJS-wuyJA" target="_blank")
				span.acm.acm-youtube.footer_icon
				span Capítulo Javeriano ACM
			p: a(href="https://github.com/CapituloJaverianoACM" target="_blank")
				span.acm.acm-github.footer_icon
				span CapituloJaverianoACM
			p: a(mailto="acm@javeriana.edu.co" target="_blank")
				span.acm.acm-envelope.footer_icon
				span acm@javeriana.edu.co
		section.footer_section
			h6.footer_section_title Desarrolladores encargados
			p: a(href="https://github.com/johan-smc" target="_blank")
				span.acm.acm-user.footer_icon
				span Johan Sebastian Murillo Castillo
			p: a(href="https://github.com/JuanPabloRN30" target="_blank")
				span.acm.acm-user.footer_icon
				span Juan Pablo Rodriguez Navarro
			p: a(href="https://github.com/juanmsl" target="_blank")
				span.acm.acm-user.footer_icon
				span Juan Manuel Sánchez Lozano
		section.footer_section
			h6.footer_section_title ¿Preguntas o comentarios? ¡Contactanos!
			form(method='post' action='javascript:document.sendQuestionEmail()')#questionform.contact-form
				| {% csrf_token %}
				textarea(rows="3" placeholder="Tu mensaje, comentario ó sugerencia" name="message" required).contact-form_message
				section.contact-form_section
					input(type="email" placeholder="Correo" name="email" required).contact-form_email
					button.btn.btn_active.contact-form_submit Enviar

	section.copyright_section
		.copyright= name + ' | Copyright © ' + year + ' - Todos los derechos reservados a sus respectivos dueños'
