section.acm-modal_frame.acm-modal_carousel#modal-join
	section.acm-modal.full-modal
		span(target="#modal-join").acm.acm-times.acm-modal_close
		section.acm-modal_content
			form(method="post" action='javascript:document.sendJoinForm()')#joinform.acm-form
				| {% csrf_token %}
				h2.sub_title.acm-form_title ¿Quieres participar en maratones?
				article.acm-form_item
					input(required type="text" name="names")#join-names
					label(for="join-names") Nombres
				article.acm-form_item
					input(required type="text" name="surnames")#join-surnames
					label(for="join-surnames") Apellidos
				article.acm-form_item
					input(required type="email" name="email")#join-email
					label(for="join-email") Correo
				article.acm-form_item
					select(required name="major")#join-major
						option
						option Ingeniería de sistemas
						option Ingeniería electronica
						option Ingeniería industrial
						option Ingeniería civil
						option Otra carrera
					label(for="join-major") Tu carrera
				article.acm-form_item
					textarea(required rows="5" name="reason")#join-reason
					label(for="join-reason") ¿ Cómo te enteraste de ACM ?
				button.btn.btn_active Enviar
