navbar.acm-navbar
	img(src="{% static 'images/icon_blue.svg'%}").acm-navbar_logo
	ul.acm-navbar_menu#acm-navbar
		li.acm-navbar_menuitem(class= currentPage==1 ? "acm-navbar__current" : "")
			a(href="/").acm-navbar_link Home
		li.acm-navbar_menuitem(class= currentPage==2 ? "acm-navbar__current" : "")
			a(href="/staff").acm-navbar_link Staff
		li.acm-navbar_menuitem(class= currentPage==3 ? "acm-navbar__current" : "")
			a(href="/maratones").acm-navbar_link Maratones
		li.acm-navbar_menuitem(class= currentPage==4 ? "acm-navbar__current" : "")
			a(href="/actividades").acm-navbar_link Actividades
		li.acm-navbar_menuitem(class= currentPage==5 ? "acm-navbar__current" : "")
			a(href="/proyectos").acm-navbar_link Proyectos
		li.acm-navbar_menuitem(class= currentPage==6 ? "acm-navbar__current" : "")
			a(href="/tutoriales").acm-navbar_link Tutoriales
		li.acm-navbar_menuitem(class= currentPage==7 ? "acm-navbar__current" : "")
			a(target="#modal-join").acm-modal_trigger.acm-navbar_link ¡Únete!
	span.acm-navbar_trigger.acm.acm-bars#navbarTrigger(target="#acm-navbar")
