extends ../templates/base

append config
	-currentPage = 4

block header
	section.acm-cover
		h1.title Actividades y eventos

block main
	form.acm-inlineform
		input(type="text" name="activity")#activity
		section.acm-form_inlineChoices
			article.acm-form_choise
				input(type="radio" name="type" value="all" checked)#all
				label(for="all") Todos
			article.acm-form_choise
				input(type="radio" name="type" value="unfinished")#unfinished
				label(for="unfinished") En curso
			article.acm-form_choise
				input(type="radio" name="type" value="finisehd")#finisehd
				label(for="finisehd") Pasados
		button.btn.btn_active Buscar
	section.acm-grid
		-for(var i=0; i < 10; i++)
			a(href="/actividad/1").acm-card
				h6.acm-card_title Taller de pensamiento algorítmico
				span.acm-card_date 01/01/2018
				img(src="http://placehold.it/350x250").acm-card_image
				p.acm-card_description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor sodales ex ut blandit. Nulla interdum viverra erat, vel convallis nisi interdum ac. Donec eros justo, laoreet ac leo ac, molestie eleifend turpis. Pellentesque sagittis mi rhoncus, laoreet erat quis, condimentum leo. Nullam non eros finibus, luctus nibh in, lobortis.
