extends ../templates/base

append config
	-currentPage = 3

block header
	section.acm-cover
		h1.title Maratones de programación

block main
	section.acm-section.acm-about
		article.acm-about_article
			h5.sub_title.acm-about_title ¿Qué son los entrenos de programación?
			// TODO ¿Qué son los entrenos de programación? 50 Palabras aprox
			p.acm-about_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor sodales ex ut blandit. Nulla interdum viverra erat, vel convallis nisi interdum ac. Donec eros justo, laoreet ac leo ac, molestie eleifend turpis. Pellentesque sagittis mi rhoncus, laoreet erat quis, condimentum leo. Nullam non eros finibus, luctus nibh in, lobortis.
		article.acm-about_article
			h5.sub_title.acm-about_title ¿Qué son las maratones de programación?
			// TODO ¿Qué son las maratones de programación?
			p.acm-about_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor sodales ex ut blandit. Nulla interdum viverra erat, vel convallis nisi interdum ac. Donec eros justo, laoreet ac leo ac, molestie eleifend turpis. Pellentesque sagittis mi rhoncus, laoreet erat quis, condimentum leo. Nullam non eros finibus, luctus nibh in, lobortis.
	section.acm-section
		h1.sub_title.acm-section_title Nuestros entrenos
		section.acm-trains
			article.acm-trains_train
				h4.acm-trains_traintitle Juniors
				section.acm-trains_trainfinfo
					p Sabados
					p 9:00 am  - 1:00 pm
					p Sala bases de datos
				button(target="#modal-juniors").btn.btn_active.acm-modal_trigger Ver temas
			article.acm-trains_train
				h4.acm-trains_traintitle Seniors
				section.acm-trains_trainfinfo
					p Sabados
					p 1:00 pm  - 6:00 pm
					p Sala bases de datos
				button(target="#modal-seniors").btn.btn_active.acm-modal_trigger Ver temas
	section.acm-section
		h1.sub_title.acm-section_title Equipos maratonistas
		section.acm-teams.owl-carousel.owl-theme
			article.acm-teams_team.item
				section.acm-teams_teampicture
					img(src="https://www.dsaa.org/get/files/image/galleries/memberIcon-0001.png")
				h4.acm-teams_teamtitle Equipo 1
				p.acm-teams_teammember Miembro 1
				p.acm-teams_teammember Miembro 2
				p.acm-teams_teammember Miembro 3
			article.acm-teams_team.item
				section.acm-teams_teampicture
					img(src="https://www.dsaa.org/get/files/image/galleries/memberIcon-0001.png")
				h4.acm-teams_teamtitle Equipo 2
				p.acm-teams_teammember Miembro 1
				p.acm-teams_teammember Miembro 2
				p.acm-teams_teammember Miembro 3
			article.acm-teams_team.item
				section.acm-teams_teampicture
					img(src="https://www.dsaa.org/get/files/image/galleries/memberIcon-0001.png")
				h4.acm-teams_teamtitle Equipo 3
				p.acm-teams_teammember Miembro 1
				p.acm-teams_teammember Miembro 2
				p.acm-teams_teammember Miembro 3
			article.acm-teams_team.item
				section.acm-teams_teampicture
					img(src="https://www.dsaa.org/get/files/image/galleries/memberIcon-0001.png")
				h4.acm-teams_teamtitle Equipo 4
				p.acm-teams_teammember Miembro 1
				p.acm-teams_teammember Miembro 2
				p.acm-teams_teammember Miembro 3
	section.acm-modal_frame.acm-modal_carousel#modal-juniors
		section.acm-modal
			span(target="#modal-juniors").acm.acm-times.acm-modal_close
			section.acm-modal_content.modal_carousel.owl-carousel.owl-theme
				-for(var i=0; i < 10; i++)
					section.acm-card
						h6.acm-card_title Juniors
						img(src="http://placehold.it/350x250").acm-card_image
						p.acm-card_description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor sodales ex ut blandit. Nulla interdum viverra erat, vel convallis nisi interdum ac. Donec eros justo, laoreet ac leo ac, molestie eleifend turpis. Pellentesque sagittis mi rhoncus, laoreet erat quis, condimentum leo. Nullam non eros finibus, luctus nibh in, lobortis.
	section.acm-modal_frame.acm-modal_carousel#modal-seniors
		section.acm-modal
			span(target="#modal-seniors").acm.acm-times.acm-modal_close
			section.acm-modal_content.modal_carousel.owl-carousel.owl-theme
				-for(var i=0; i < 10; i++)
					section.acm-card
						h6.acm-card_title Seniors
						img(src="http://placehold.it/350x250").acm-card_image
						p.acm-card_description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor sodales ex ut blandit. Nulla interdum viverra erat, vel convallis nisi interdum ac. Donec eros justo, laoreet ac leo ac, molestie eleifend turpis. Pellentesque sagittis mi rhoncus, laoreet erat quis, condimentum leo. Nullam non eros finibus, luctus nibh in, lobortis.
