extends ../templates/base

append config
	-currentPage = 1
	-scroll = true

block header
	section.acm-maincover
		img(src="{% static 'images/icon_white.svg'%}").acm-maincover_logo
		h1.title Capítulo Javeriano ACM

block main
	section.acm-full-section.acm-aboutus
		section.acm-aboutus_content
			article.acm-aboutus_section
				img(src="{% static 'images/acm_icon.png' %}").acm-aboutus_picturesection
				h2.sub_title.acm-aboutus_titlesection ¿Qué es ACM?
				// TODO ¿Qué es ACM? 50 Palabras aprox
				p.acm-aboutus_textsection Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor sodales ex ut blandit. Nulla interdum viverra erat, vel convallis nisi interdum ac. Donec eros justo, laoreet ac leo ac, molestie eleifend turpis. Pellentesque sagittis mi rhoncus, laoreet erat quis, condimentum leo. Nullam non eros finibus, luctus nibh in, lobortis.
			article.acm-aboutus_section
				img(src="{% static 'images/icon_blue.svg'%}").acm-aboutus_picturesection
				h2.sub_title.acm-aboutus_titlesection ¿Qué es el capítulo?
				// TODO ¿Qué es el capítulo? 50 Palabras aprox
				p.acm-aboutus_textsection Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor sodales ex ut blandit. Nulla interdum viverra erat, vel convallis nisi interdum ac. Donec eros justo, laoreet ac leo ac, molestie eleifend turpis. Pellentesque sagittis mi rhoncus, laoreet erat quis, condimentum leo. Nullam non eros finibus, luctus nibh in, lobortis.
	| {% if awards.count != 0 %}
	section.acm-full-section
		h1.sub_title.acm-section_title ¿Qué hemos ganado?
		section.acm-awards.owl-carousel.owl-theme
			| {% static "" as staticUrl %}
			| {% for award in awards %}
			article.acm-awards_award.item
				img(src="{{staticUrl}}{{award}}").acm-awards_awardpicture
				h4.acm-awards_awardtitle Actividades destacadas
				p.acm-awards_awardyear {{award.date|date:"Y"}}
				p.acm-awards_awarddescription Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor sodales ex ut blandit.
			| {% endfor %}
	| {% endif %}
	section.acm-full-section
		h1.sub_title.acm-section_title Actividades del capítulo
		section.acm-activities.owl-carousel.owl-theme
			article.acm-activities_activity.item
				section.acm-activities_activitytext
					h3 Actividad 1
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor sodales ex ut blandit. Nulla interdum viverra erat, vel convallis nisi interdum ac. Donec eros justo, laoreet ac leo ac, molestie eleifend turpis. Pellentesque sagittis mi rhoncus, laoreet erat quis, condimentum leo. Nullam non eros finibus, luctus nibh in, lobortis.
				section.acm-activities_activityimage
					img(src="http://via.placeholder.com/500x500")
			article.acm-activities_activity.item
				section.acm-activities_activitytext
					h3 Actividad 2
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor sodales ex ut blandit. Nulla interdum viverra erat, vel convallis nisi interdum ac. Donec eros justo, laoreet ac leo ac, molestie eleifend turpis. Pellentesque sagittis mi rhoncus, laoreet erat quis, condimentum leo. Nullam non eros finibus, luctus nibh in, lobortis.
				section.acm-activities_activityimage
					img(src="http://via.placeholder.com/500x500")
			article.acm-activities_activity.item
				section.acm-activities_activitytext
					h3 Actividad 3
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor sodales ex ut blandit. Nulla interdum viverra erat, vel convallis nisi interdum ac. Donec eros justo, laoreet ac leo ac, molestie eleifend turpis. Pellentesque sagittis mi rhoncus, laoreet erat quis, condimentum leo. Nullam non eros finibus, luctus nibh in, lobortis.
				section.acm-activities_activityimage
					img(src="http://via.placeholder.com/500x500")
	section.acm-full-section
		h1.sub_title.acm-section_title Nuestros proyectos
		section.acm-projects
			section.acm-projectscontent
				article.acm-projects_project
					img(src="http://via.placeholder.com/500x400").acm-projects_projectpicture
					h5.acm-projects_projecttitle Web design
				article.acm-projects_project
					img(src="http://via.placeholder.com/500x400").acm-projects_projectpicture
					h5.acm-projects_projecttitle Digital
				article.acm-projects_project
					img(src="http://via.placeholder.com/500x400").acm-projects_projectpicture
					h5.acm-projects_projecttitle Identity
				article.acm-projects_project
					img(src="http://via.placeholder.com/500x400").acm-projects_projectpicture
					h5.acm-projects_projecttitle Web design
				article.acm-projects_project
					img(src="http://via.placeholder.com/500x400").acm-projects_projectpicture
					h5.acm-projects_projecttitle Strategy
