extends ../templates/base

append config
	-currentPage = 5
	| {% load markdown_deux_tags %}

block header
	section.acm-article-cover
		img(src="https://placehold.it/1200x400")
		h1.title Instagram colegios

block maincontent
	section.markdown-body
		| {{ "# **Hola**" | markdown }}
