extends ../templates/base

append config
	-currentPage = 2

block header
	section.acm-cover
		h1.title Staff del capitulo

block main
	| {% if members.count != 0 %}
	section.acm-staff
		| {% for member in members %}
		section.acm-staff_member
			input(type='radio' name='member').acm-staff_check
			article.acm-staff_imagesection
				img(src="https://cdn4.iconfinder.com/data/icons/smileys-3/24/smiley-smile--512.png").acm-staff_image
				h6.acm-staff_name {{member.name}} {{member.surname}}
			article.acm-staff_infosection
				h5.acm-staff_rol {{member.get_position_display}}
				p.acm-staff_description {{member.description}}
		| {% endfor %}
	| {% endif %}
