extends ../templates/base

append config
	-currentPage = 6

block header
	section.acm-cover
		h1.title Tutoriales y guias de ayuda

block main
	form.acm-inlineform
		input(type="text" name="activity")#activity
		button.btn.btn_active Buscar
	section.acm-grid
		-for(var i=0; i < 10; i++)
			a(href="/tutorial/1").acm-card
				h6.acm-card_title Git + GitHub
				img(src="http://placehold.it/350x250").acm-card_image
				p.acm-card_description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor sodales ex ut blandit. Nulla interdum viverra erat, vel convallis nisi interdum ac. Donec eros justo, laoreet ac leo ac, molestie eleifend turpis. Pellentesque sagittis mi rhoncus, laoreet erat quis, condimentum leo. Nullam non eros finibus, luctus nibh in, lobortis.
