$maincover-background: url('../images/cover.jpg') center center / cover fixed no-repeat;
$maincover-color: $white;

$activitycover-background: url('../images/cover-page.png') center center / cover fixed no-repeat;
$activitycover-color: $white;
