.acm-aboutus {
	background: linear-gradient(-45deg, white 15%, $gray-3 15%, $gray-3 85%, transparent 85%, transparent), url('../images/cover.jpg') center center / cover fixed no-repeat;
	color: $white;
	flex-wrap: wrap;
	align-items: center;
	padding-top: $padding * 20;
	padding-bottom: $padding * 20;

	@include from(tablet) {
		background: linear-gradient(-45deg, white 10%, $gray-3 10%, $gray-3 90%, transparent 90%, transparent), url('../images/cover.jpg') center center / cover fixed no-repeat;
		padding: inherit;
	}

	.acm-aboutus_section {
		margin: $margin;
		display: flex;
		align-items: center;

		@include from(tablet) {
			width: 90%;
			max-width: 1000px;
			margin: $margin * 3;
		}

		&:nth-child(even) {
			flex-direction: row-reverse;
		}
	}

	.acm-aboutus_titlesection {
		text-align: center;
		display: flex;
		flex-direction: column;
		width: 100%;

		&::before, &::after {
			content: '';
			display: block;
			flex-grow: 1;
			width: 100%;
			border-bottom: 1px solid $gray-9;
			margin: $margin auto;
		}
	}

	.acm-aboutus_contentsection {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;

		@include from(laptop) {
			width: 50%;
		}
	}

	.acm-aboutus_picturesection {
		width: 50%;
		padding: $padding * 5;
		height: auto;
		display: none;

		@include from(laptop) {
			display: block;
		}
	}

	.acm-aboutus_textsection {
		text-align: justify;

		@include from(laptop) {
			text-align: left;
		}
	}
}

.acm-awards {
	display: flex;
	justify-content: center;
	align-items: baseline;
	flex-wrap: wrap;

	.acm-awards_award {
		margin: 0 $margin;

		@include from(tablet) {
			width: 350px;
			margin: $margin * 3 $margin * 5;
		}
	}

	.acm-awards_awardpicture {
		width: 100%;
	}

	.acm-awards_awardtitle {
		text-align: center;
	}

	.acm-awards_awardyear {
		text-align: center;
		font-size: 0.7rem;
	}

	.acm-awards_awarddescription {
		text-align: center;
	}
}

.acm-projects, .acm-activities {
	flex-grow: 1;
	display: flex;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
