.acm-staff {
	display: flex;
	flex-direction: column;

	.acm-staff_member {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 $padding * 2;
		position: relative;

		&::after {
			content: '\f111';
			font-family: 'fontawesome';
			margin: 0 $margin * 4;
			align-self: stretch;
			display: none;
			align-items: center;
			font-size: 1.4rem;
			flex-shrink: 0;
			$bar: 10%;
			background: linear-gradient(90deg, transparent 50% - $bar, $primary-color 50% - $bar, $primary-color 50% + $bar, transparent 50% + $bar);
			color: $primary-color;

			@include from (tablet) {
				display: flex;
			}
		}

		@include from (mobile) {
			&::after {
				display: flex;
			}
		}

		@include from (laptop) {
			padding: 0 $padding * 10;
		}
	}

	.acm-staff_imagesection {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: $padding * 3 0;
		width: 200px;
		flex-shrink: 0;
	}

	.acm-staff_image {
		display: block;
		width: 180px;
		height: 180px;
		object-fit: cover;
		border-radius: 50%;
		border: 5px solid $primary-color;
	}

	.acm-staff_name {
		text-align: center;
	}

	.acm-staff_infosection {
		display: none;
		border: 4px solid $primary-color;
		order: 1;
		padding: $padding * 2;
		margin: $margin * 2 0;
		max-width: 800px;
		flex-grow: 1;
		background: $secondary-color;

		@include from(mobile) {
			display: block;
		}
	}

	.acm-staff_check {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		cursor: pointer;
		display: none;

		&:checked ~ .acm-staff_infosection .acm-staff_description {
			display: block;
		}

		@include from(tablet) {
			display: block;
		}
	}

	.acm-staff_rol {

	}

	.acm-staff_description {
		display: none;
	}
}
