.acm-maincover {
	height: 100vh;
	background: $maincover-background;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: $maincover-color;

	.acm-maincover_logo {
		width: 250px;

		@include from(tablet) {
			width: 400px;
		}
	}
}

.acm-cover {
	background: $maincover-background;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: $maincover-color;
	padding: $padding * 3;
	padding-top: $padding * 9;

	@include from(tablet) {
		padding: $padding * 15;
	}
}

.acm-article-cover {
	position: relative;
	padding: $padding * 3;
	padding-top: $padding * 9;

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
	}
}

.acm-error-cover {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background:
		linear-gradient(90deg, $third-color 0%, $primary-color 100%),
		radial-gradient(at top, rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.55) 100%),
		radial-gradient(at top, rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.08) 63%);
	background-blend-mode: multiply, screen;
	color: white;
	text-shadow: 0 0 5px black;
	text-align: center;
	padding: $padding * 3;

	.btn {
		margin-top: $margin * 3;
		border-radius: 100px;
	}
}

.acm-activity-cover {
	background: $activitycover-background;
	color: $activitycover-color;
	padding: $padding * 5;
	padding-bottom: $padding * 2;
	padding-left: $padding * 2;
	border-bottom: 10px solid $primary-color;
}
