.acm-inlineform {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: $padding * 3 $padding;
	padding-bottom: $padding;

	@include from(laptop) {
		flex-wrap: nowrap;
	}

	input[type='text'] {
		padding: $padding;
		transition: all 0.3s ease-out;
		margin-right: $margin;

		&:focus {
			flex-grow: 0.5;
		}
	}

	.acm-form_inlineChoices {
		display: grid;
		grid-gap: $margin;
		grid-auto-flow: column;
		padding: $padding;
		padding-left: 0;
		margin: $margin 0;

		@include from(laptop) {
			margin: 0;
		}
	}

	.acm-form_choise {
		position: relative;

		label {
			padding: $padding;
		}

		input[type='radio'] {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			cursor: pointer;

			&:checked ~ label {
				background: $form-choise-checked-background;
				color: $form-choise-checked-color;
			}
		}
	}
}

.acm-form {
	max-width: 600px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: $padding * 2 0;

	.acm-form_title {
		text-align: center;
		padding-bottom: $padding * 3;
		border-bottom: 1px solid $primary-color;
		margin-bottom: $margin * 3;
	}

	.acm-form_item {
		position: relative;
		margin-bottom: $margin * 3;

		input, select, textarea {
			width: 100%;
			padding: $padding * 1.5 $padding * 3;
			border: 1px solid $gray-9;
			border-radius: 25px;
			outline: 0;
			background: $white;

			&:valid ~ label, &:focus ~ label {
				background: $white;
				padding: 0 $padding * 0.5;
				font-size: 0.9rem;
				transform: translate($padding * 2.5, -50%);
			}

			&:focus {
				color: $active;
				border-color: $active;

				& ~ label {
					color: $active;
				}
			}

			&:valid {
				color: $success;
				border-color: $success;

				& ~ label {
					color: $success;
				}
			}
		}

		input, select {
		}

		textarea {
			resize: none;
		}

		label {
			position: absolute;
			top: 0;
			left: 0;
			padding: $padding * 1.5 $padding * 3;
			transition: all 0.1s ease;
		}
	}
}
