.acm-grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: $gutter * 5;
	padding: $padding * 5;

	@include from(tablet) {
		grid-template-columns: repeat(2, 1fr);
	}

	@include from(pc) {
		grid-template-columns: repeat(3, 1fr);
	}

	@include from(large) {
		grid-template-columns: repeat(4, 1fr);
	}
}

.acm-grid-5 {
	display: grid;
	flex-grow: 1;
	grid-gap: 1px;
	grid-template-rows: repeat(5, 200px);
	grid-template-areas:
		'a'
		'b'
		'c'
		'd'
		'e';

	.acm-grid_element {
		position: relative;
		transition: all 0.3s ease;
		display: block;

		&:nth-child(1) {
			grid-area: a;
		}

		&:nth-child(2) {
			grid-area: b;
		}

		&:nth-child(3) {
			grid-area: c;
		}

		&:nth-child(4) {
			grid-area: d;
		}

		&:nth-child(5) {
			grid-area: e;
		}

		@include from(tablet) {
			&:hover .acm-grid-elementinfo {
				opacity: 1;
			}
		}
	}

	.acm-grid_elementpicture, .acm-grid-elementinfo {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	.acm-grid_elementpicture {
		object-fit: cover;
		display: block;
	}

	.acm-grid-elementinfo {
		padding: $padding * 3;
		color: $white;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
		text-align: center;
		transition: all 0.3s ease;
		background: linear-gradient(transparent, rgba($gray-1, 0.9));

		@include from(laptop) {
			justify-content: center;
			align-items: stretch;
			background: rgba($gray-1, 0.9);
			box-shadow:
				inset 0 0 0 5px rgba($gray-1, 0.9),
				inset 0 0 0 6px $white;
			opacity: 0;
		}
	}

	.acm-grid_elementtitle {
		font-size: 2rem;

		@include from(laptop) {
			padding-bottom: $padding / 2;
			border-bottom: 1px solid;
		}
	}

	.acm-grid-elementdescription {
		display: none;
		font-size: 0.8rem;

		@include from(laptop) {
			display: block;
		}
	}
}

.style-1 {
	@include from(laptop) {
		grid-template-rows: repeat(7, 1fr);
		grid-template-areas:
			'a a a a b b b c c c'
			'a a a a b b b c c c'
			'a a a a b b b c c c'
			'a a a a e e e e e e'
			'd d d d e e e e e e'
			'd d d d e e e e e e'
			'd d d d e e e e e e';
	}
}

.style-2 {
	@include from(laptop) {
		grid-template-rows: repeat(7, 1fr);
		grid-template-areas:
			'a a a a a a b b b b'
			'a a a a a a b b b b'
			'a a a a a a b b b b'
			'a a a a a a b b b b'
			'c c c c d d d e e e'
			'c c c c d d d e e e'
			'c c c c d d d e e e';
	}
}
